<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Info</title>
</head>
<body>
<div class="container">
    <h1>Members</h1>
    <div class="card">
        <div class="card-body row">
            <div class="col-12 col-md-4 text-center"><img width="50%" alt="Linh" src="./static/linh.png"></div>
            <div class="col-12 col-md-8">
                <h3>Linh Hanh Le</h3>
                <div style="color:grey">Ho Chi Minh city, Viet Nam <i class="fa fa-map-marker"></i></div>
                <div><i class="fa fa-id-badge"></i> 18120052 - 18CNTN</div>
                <div><i class="fa fa-birthday-cake"></i> March 03, 2000</div>
                <div><i class="fa fa-envelope"></i> ltt.lop9a1.lhlinh@gmail.com</div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body row">
            <div class="col-12 col-md-4 text-center"><img width="50%" alt="Loc" src="./static/loc.png"></div>
            <div class="col-12 col-md-8">
                <h3>Loc Trong Truong</h3>
                <div style="color:grey">Ho Chi Minh city, Viet Nam <i class="fa fa-map-marker"></i></div>
                <div><i class="fa fa-id-badge"></i> 18120197 - 18CNTN</div>
                <div><i class="fa fa-birthday-cake"></i> November 16, 2000</div>
                <div><i class="fa fa-envelope"></i> tronglocbrvt1611@gmail.com</div>
            </div>
        </div>
    </div>
</div>
<!-- bootstrap and jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>